/* Project Header */
.project-header {
    /* background-color: yellow; */

    display: flex;
    flex-direction: column;

    width: 100%;
    margin: 0 auto;
}

.project-header-logo {
    /* background-color: blueviolet; */

    position: relative;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 12px;
}

.project-header-logo-img {
    /* background-color: blue; */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(100% + 70px);
}

.project-header-info {
    /* background-color: blue; */

    position: relative;
    display: flex;
    flex-direction: column;

    width: 100%;
    margin: 0 auto;
}

.project-header-info-title {
    /* background-color: aqua; */

    font-size: 46px;
    font-weight: 900;
    text-align: center;
}

.project-header-info-subtitle {
    /* background-color: aqua; */

    font-size: 32px;
    font-weight: 900;
    margin-bottom: 16px;
    text-align: center;
}

.project-header-info-date {
    /* background-color: green; */

    margin: 4px auto 20px auto;
    color: rgb(200, 200, 200);
    font-size: 22px;
    text-align: center;
}

.project-header-info-box {
    /* background-color: red; */

    display: inline-block;
    padding: 20px 14px;

    margin: 0px auto;
    color: rgb(200, 200, 200);
}

.project-header-info-box-text {

    display: inline-block;
    font-size: 22px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}




/* Project Content */
.project-content {
    /* background-color: red; */

    display: grid;
    grid-template-columns: 0.9fr 1fr;

    width: calc(100% - 40px);
    margin: 30px auto 0 auto;
}

.project-content-media {
    /* background-color: blue; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.project-content-media-content {
    /* background-color: red; */

    height: 220px;
    position: relative;
    width: calc(100% - 40px);
    margin: 20px auto;
}

.project-content-info {
    /* background-color: orange; */

    display: grid;
    grid-template-rows: 40px 1fr;
    margin: 30px 30px 50px 20px;
}

.project-content-info-title {
    /* background-color: red; */
    font-size: 26px;
    font-weight: 900;
}

.project-content-info-desc {
    /* background-color: green; */
    color: rgb(200, 200, 200);
    font-size: 20px;
    margin-top: 4px;
    margin-left: 4px;
}