
/* Skills Frame */
.skills-frame {
    /* background-color: green; */

    margin: 14px 6px 34px 6px;
}

.skills-frame-header {
    /* background-color: blue; */
    margin: 6px 4px;
    font-weight: 700;
    font-size: 22px;
}

.skills-frame-content {
    display: grid;
    justify-content: center;
    grid-template-columns: 80px 80px;
    grid-auto-rows: 80px;
    padding: 10px;
    grid-gap: 10px;

    height: 200px;
}

@media screen and (max-width: 1100px) {
    .skills-frame-content {
        grid-template-columns: 90px 90px;
        grid-auto-rows: 90px;
        height: 220px;
    }
}

/* Skill Button */
.skill-button {
    position: relative;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-button-frame {
    background-color: rgb(35, 35, 35);

    border-radius: 10%;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0);

    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;

    transition:
        top 0.2s,
        border-color 0.2s,
        box-shadow 0.2s;
}

.skill-button-frame-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 75%;
}

.skill-button-frame-title {
    
    opacity: 0;
    font-size: 16px;
    padding: 2px 5px;

    /* prevent text from wrapping */
    white-space: nowrap;

    position: absolute;
    top: 4px;
    left: 50%;
    transform: translate(-50%, -100%);

    z-index: 20;

    transition: opacity 0.2s;
}